@import "themes/antd.tokens.scss";

.headerItem {
  background-color: $colorBgLayout;
  padding: #{$paddingSmall}px;
  vertical-align: top;

  & svg {
    color: $colorTextDisabled;
    font-size: 12px;
  }

  &__titleSection {
    display: flex;
    gap: #{$marginSmall}px;

    & > *:first-child {
      flex: 1;
      text-align: start;
    }
  }

  &__hasInput {
    margin-bottom: #{$marginSmall}px;
  }

  .iconsContainer {
    align-items: center;
    display: flex;
    gap: #{$marginSmall}px;
  }

  .searchContainer {
    align-items: center;
    display: flex;
    margin-top: #{$marginSmall}px;
  }

  .selectContainer {
    align-items: center;
    display: flex;
    margin-top: #{$marginSmall}px;
    width: 100%;
  }
}

.sorterContainer {
  align-self: baseline;
  display: flex;
  flex-direction: column;
  font-size: 12px;

  & svg {
    margin-bottom: -4px;
    color: $colorTextDisabled;
  }
}

.input,
.select {
  width: 100%;
}
