@import "../../../themes/antd.tokens";

.size {
  &Middle {
    padding: 0 #{$padding}px;
    font-size: #{$fontSizeBodyText-base}px;
  }
}

.buttonDisable {
  color: $colorTextDisabled;
  border: 1px solid $colorBorder;
  background: $colorBgContainerDisabled;
}

.primaryButton {
  border: 1px solid $colorPrimary;
  background: $colorPrimary;
  color: $colorTextLightSolid;

  &.size {
    &Small {
      padding: 0 #{$paddingSmall}px;
      font-size: #{$fontSizeBodyText-small}px;
    }

    &Large {
      padding: 0 #{$padding}px;
      font-size: #{$fontSizeBodyText-large}px;
    }
  }

  &:not(:disabled):not(.ant-btn-disabled) {
    &:hover {
      border: 1px solid $colorPrimaryHover;
      background: $colorPrimaryHover;
    }

    &:active {
      border: 1px solid $colorPrimaryActive;
      background: $colorPrimaryActive;
    }

    &:focus {
      border: 3px solid $colorPrimaryActive;
      background: $colorPrimary;
      box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.04); //TODO: pending for tokens
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  &.ant-btn-disabled, &:disabled {
    @extend .buttonDisable
  }

  &Danger {
    &:not(:disabled):not(.ant-btn-disabled) {
      color: $colorTextLightSolid;
      background: $colorError;

      &:hover {
        background: $colorErrorHover;
        border: 1px solid $colorErrorHover;
      }

      &:active {
        background: $colorErrorActive;
      }

      &:focus {
        background: $colorErrorHover;
        border: 1px solid $colorErrorHover;
      }
    }

    &.ant-btn-disabled, &:disabled {
      @extend .buttonDisable
    }
  }
}

.secondaryButton {
  border: 1px solid $colorBorder;
  color: $colorText;
  background: $colorBgContainer;

  &.size {
    &Small {
      padding: 0 #{$paddingSmall}px;
      font-size: #{$fontSizeBodyText-small}px;
    }

    &Large {
      padding: 0 #{$padding}px;
      font-size: #{$fontSizeBodyText-large}px;
    }
  }

  &:not(:disabled):not(.ant-btn-disabled) {
    &:hover {
      color: $colorPrimaryHover;
    }

    &:active {
      color: $colorPrimaryActive;
      border: 1px solid $colorPrimaryActive;
    }

    &:focus {
      color: $colorText;
      border: 2px solid $colorPrimaryBase;
    }
  }

  &.ant-btn-disabled, &:disabled {
    @extend .buttonDisable
  }

  &Danger {
    &:not(:disabled):not(.ant-btn-disabled) {
      color: $colorErrorBase;
      border: 1px solid $colorTertiaryBase;
      background: $colorBgContainer;

      &:hover {
        color: $colorErrorHover;
        background: $colorBgContainer;
        border: 1px solid $colorErrorBorderHover;
      }

      &:active {
        background: $colorBgContainer;
        color: $colorErrorActive;
        border: 1px solid $colorErrorBorderHover;
      }

      &:focus {
        color: $colorErrorHover;
        background: $colorBgContainer;
        border: 1px solid $colorErrorBorderHover;
      }
    }

    &.ant-btn-disabled, &:disabled {
      @extend .buttonDisable
    }
  }
}

.textButton {
  &.size {
    &Small {
      padding: 0 #{$paddingSmall}px;
      font-size: #{$fontSizeBodyText-small}px;
    }

    &Large {
      padding: 0 #{$padding}px;
      font-size: #{$fontSizeBodyText-large}px;
    }
  }

  &:not(:disabled):not(.ant-btn-disabled) {
    color: $colorText;

    &:hover {
      background: $colorBgTextHover;
      color: $colorText;
    }

    &:active {
      background: $colorBgTextPress;
      color: $colorText;
    }

    &:focus {
      color: $colorText;
      border: 2px solid $colorText;
    }
  }

  &.ant-btn-disabled, &.primaryButton:disabled {
    background-color: transparent;
    color: $colorTextDisabled;
    border: 0;
  }

  &Danger {
    &:not(:disabled):not(.ant-btn-disabled) {
      color: $colorErrorBase;

      &:hover {
        color: $colorErrorHover;
        background: $colorBgTextHover;
      }

      &:active {
        color: $colorErrorActive;
        background: $colorBgTextHover;
      }

      &:focus {
        color: $colorErrorBase;
        background: $colorBgTextHover;
        border: 2px solid $colorErrorBase;
      }
    }

    &.ant-btn-disabled, &:disabled {
      background-color: transparent;
      color: $colorTextDisabled;
      border: 0;
    }
  }
}

.linkButton {
  &.size {
    &Small {
      padding: 0 #{$paddingSmall}px;
      font-size: #{$fontSizeBodyText-small}px;
    }

    &Large {
      padding: 0 #{$padding}px;
      font-size: #{$fontSizeBodyText-large}px;
    }
  }

  &:not(:disabled):not(.ant-btn-disabled) {
    color: $colorPrimaryBase;
    border: 0;

    &:hover {
      color: $colorPrimaryHover;
    }

    &:active {
      color: $colorPrimaryActive;
    }

    &:focus {
      color: $colorPrimaryBase;
      border: 2px solid $colorPrimaryBase;
    }
  }

  &.ant-btn-disabled, &:disabled {
    background-color: transparent;
    color: $colorTextDisabled;
    border: 0;
  }

  &Danger {

    &:not(:disabled):not(.ant-btn-disabled) {
      color: $colorErrorBase;

      &:hover {
        color: $colorErrorHover;
      }

      &:active {
        color: $colorErrorActive;
      }

      &:focus {
        color: $colorErrorBase;
        border: 2px solid $colorErrorBase;
      }
    }

    &.ant-btn-disabled, &:disabled {
      background-color: transparent;
      color: $colorTextDisabled;
      border: 0;
    }
  }
}

.tertiaryButton {
  &.size {
    &Small {
      padding: 0 #{$paddingSmall}px;
      font-size: #{$fontSizeBodyText-small}px;
    }

    &Large {
      padding: 0 #{$padding}px;
      font-size: #{$fontSizeBodyText-large}px;
    }
  }

  &:not(:disabled):not(.ant-btn-disabled) {
    background: $colorSecondaryBase;
    color: $colorItemText;

    &:hover {
      color: $colorTextLightSolid;
    }

    &:active {
      background: $colorPrimaryBase;
      color: $colorTextLightSolid;
    }

    &:focus {
      color: $colorTextLightSolid;
      border: 2px solid $colorTextLightSolid;
    }
  }

  &.ant-btn-disabled, &:disabled {
    opacity: 0.5;
    background-color: $colorSecondaryBase;
    color: $colorTextLightSolid;
  }
}
