@import "../../../themes/antd.tokens";

.container {
  align-items: center;
  border-radius: #{$borderRadiusSmall}px;
  box-sizing: border-box;
  color: $colorText;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: $fontSizeTitle-small;
  height: #{$controlHeightSmall}px;
  justify-content: center;
  line-height: $lineHeightTitle-small;
  width: #{$controlHeightSmall}px;
  font-family: $fontFamily;

  svg {
    color: $colorText;
  }

  &:hover {
    background-color: $colorBgTextHover;
  }

  &.selected {
    color: $colorPrimaryBase;
    border: 1px solid $colorPrimaryBase;
    font-weight: 600;
  }

  &.disabled {
    color: $colorTextDisabled;

    svg {
      color: $colorTextDisabled;
    }

    &.selected {
      border: none;
      color: $colorTextDisabled;
      background-color: $controlItemBgActiveDisabled;
    }
  }
}
