@import "themes/antd.tokens";

.rectangle {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  width: 148px;
  height: 73px;
  flex-shrink: 0;
}


.rectangleShadow {
  border-radius: 4px;
  width: 148px;
  height: 73px;
  flex-shrink: 0;

  &_evaluationLow {
    box-shadow: $evaluationLow,
  }
  &_evaluationMiddle {
    box-shadow: $evaluationMiddle,
  }
  &_evaluationHigh {
    box-shadow: $evaluationHigh,
  }
  &_focusPrimary {
    box-shadow: $focusPrimary,
  }
  &_focusError {
    box-shadow: $focusError,
  }
  &_focusWarning {
    box-shadow: $focusWarning,
  }

}

