$lineHeightHeading-extraLarge: 48px;
$lineHeightHeading-large: 40px;
$lineHeightHeading-medium: 36px;
$lineHeightHeading-small: 32px;
$lineHeightHeading-extraSmall: 28px;
$fontSizeHeading-extraLarge: 36;
$fontSizeHeading-large: 32;
$fontSizeHeading-medium: 28;
$fontSizeHeading-small: 24;
$fontSizeHeading-extraSmall: 20;
$fontSizeHeading1: 36;
$fontSizeHeading2: 32;
$fontSizeHeading3: 28;
$fontSizeHeading4: 24;
$fontSizeHeading5: 20;
$lineHeightHeading1: 48px;
$lineHeightHeading2: 40px;
$lineHeightHeading3: 36px;
$lineHeightHeading4: 32px;
$lineHeightHeading5: 28px;
$lineHeightTitle-large: 26px;
$lineHeightTitle-medium: 24px;
$lineHeightTitle-small: 22px;
$fontSizeTitle-large: 18;
$fontSizeTitle-medium: 16;
$fontSizeTitle-small: 14;
$fontSizeBodyText-extraLarge: 20;
$fontSizeBodyText-large: 16;
$fontSizeBodyText-base: 14;
$fontSizeBodyText-small: 12;
$fontSizeBodyText-extraSmall: 10;
$lineHeightBodyText-extraLarge: 28px;
$lineHeightBodyText-large: 24px;
$lineHeightBodyText-base: 22px;
$lineHeightBodyText-small: 20px;
$lineHeightBodyText-extraSmall: 18px;
$colorBlack: #25292F;
$colorWhite: #FDFDFD;
$colorBackground: #ffffff;
$colorPrimary: #0F5ECC;
$colorSecondary: #091F40;
$colorTertiary: #E53C2E;
$colorError: #E53C2E;
$colorWarning: #faad14;
$colorSuccess: #52c41a;
$colorInfo: #1677ff;
$colorPrimaryBg: #E7EFFA;
$colorPrimaryBgHover: #CFDFF5;
$colorPrimaryBorder: #9FBFEB;
$colorPrimaryBorderHover: #6F9EE0;
$colorPrimaryHover: #3F7ED6;
$colorPrimaryBase: #0F5ECC;
$colorPrimaryActive: #0C4BA3;
$colorPrimaryTextHover: #09387A;
$colorPrimaryText: #062652;
$colorPrimaryTextActive: #031329;
$colorSecondaryBg: #E6E9EC;
$colorSecondaryBgHover: #CED2D9;
$colorSecondaryBorder: #9DA5B3;
$colorSecondaryBorderHover: #6B798C;
$colorSecondaryHover: #3A4C66;
$colorSecondaryBase: #091F40;
$colorSecondaryActive: #071933;
$colorSecondaryTextHover: #051326;
$colorSecondaryText: #040C1A;
$colorSecondaryTextActive: #02060D;
$colorTertiaryBg: #FCEBEA;
$colorTertiaryBgHover: #FAD8D5;
$colorTertiaryBorder: #F5B1AB;
$colorTertiaryBorderHover: #EF8A82;
$colorTertiaryHover: #EA6358;
$colorTertiaryBase: #E53C2E;
$colorTertiaryActive: #B73025;
$colorTertiaryTextHover: #89241C;
$colorTertiaryText: #5C1812;
$colorTertiaryTextActive: #2E0C09;
$colorText: #25292FE0;
$colorTextHeading: #25292F;
$colorTextDescription: #25292f73;
$colorTextPlaceholder: #25292f40;
$colorTextDisabled: #25292f40;
$colorTextSecondary: #25292fa6;
$colorTextTertiary: #25292f73;
$colorTextQuaternary: #25292f40;
$colorTextLabel: #25292fa6;
$colorBgTextHover: #25292F0F;
$colorBgTextPress: #25292F26;
$colorTextLightSolid: #FFFFFF;
$colorItemText: #FFFFFFA6;
$colorIcon: #25292F 0.45;
$colorIconHover: #25292F 0.88;
$colorBgContainer: #ffffff;
$colorBgContainerDisabled: #25292f0a;
$colorBgLayout: #F5F6F8;
$colorBgElevated: #ffffff;
$controlItemBgHover: #0000000a;
$controlItemBgActive: #e6f4ff;
$controlItemBgActiveHover: #bae0ff;
$controlItemBgActiveDisabled: #000000 0.15;
$colorBgMask: #bae0ff;
$segmentedBgColorSelected: #bae0ff;
$segmentedGroupBg: #bae0ff;
$tooltipBg: #bae0ff;
$colorMenuDarkBg: #bae0ff;
$colorMenuSubItemBg: #bae0ff;
$colorBorder: #25292F29;
$colorBorderSecondary: #25292F 0.08;
$colorSplit: #25292F 0.06;
$colorSuccessBg: #F6FFED;
$colorSuccessBgHover: #D9F7BE;
$colorSuccessBorder: #B7EB8F;
$colorSuccessBorderHover: #95DE64;
$colorSuccessHover: #73D13D;
$colorSuccessBase: #52C41A;
$colorSuccessActive: #389E0D;
$colorSuccessTextHover: #237804;
$colorSuccessText: #135200;
$colorSuccessTextActive: #092B00;
$colorWarningBg: #FFFBE6;
$colorWarningBgHover: #FFF1B8;
$colorWarningBorder: #FFE58F;
$colorWarningBorderHover: #FFD666;
$colorWarningHover: #FFC53D;
$colorWarningBase: #FAAD14;
$colorWarningActive: #D48806;
$colorWarningTextHover: #AD6800;
$colorWarningText: #874D00;
$colorWarningTextActive: #613400;
$colorErrorBg: #fff1f0;
$colorErrorBgHover: #ffccc7;
$colorErrorBorder: #ffa39e;
$colorErrorBorderHover: #ff7875;
$colorErrorHover: #ff7875;
$colorErrorBase: #ff4d4f;
$colorErrorActive: #cf1322;
$colorErrorTextHover: #a8071a;
$colorErrorText: #820014;
$colorErrorTextActive: #5c0011;
$colorInfoBg: #E7EFFA;
$colorInfoBgHover: #CFDFF5;
$colorInfoBorder: #9FBFEB;
$colorInfoBorderHover: #6F9EE0;
$colorInfoHover: #3F7ED6;
$colorInfoBase: #0F5ECC;
$colorInfoActive: #0C4BA3;
$colorInfoTextHover: #09387A;
$colorInfoText: #062652;
$colorInfoTextActive: #031329;
$red1: #fff1f0;
$red2: #431418;
$red3: #58181c;
$red4: #791a1f;
$red5: #a61d24;
$red6: #d32029;
$red7: #cf1322;
$red8: #a8071a;
$red9: #f89f9a;
$red10: #fac8c3;
$volcano1: #fff2e8;
$volcano2: #441d12;
$volcano3: #592716;
$volcano4: #7c3118;
$volcano5: #aa3e19;
$volcano6: #d84a1b;
$volcano7: #e87040;
$volcano8: #f3956a;
$volcano9: #f8b692;
$volcano10: #fad4bc;
$orange1: #2b1d11;
$orange2: #442a11;
$orange3: #593815;
$orange4: #7c4a15;
$orange5: #ffa940;
$orange6: #d87a16;
$orange7: #e89a3c;
$orange8: #f3b765;
$orange9: #f8cf8d;
$orange10: #fae3b7;
$gold1: #2b2111;
$gold2: #443111;
$gold3: #594214;
$gold4: #7c5914;
$gold5: #aa7714;
$gold6: #d89614;
$gold7: #e8b339;
$gold8: #f3cc62;
$gold9: #f8df8b;
$gold10: #faedb5;
$yellow1: #feffe6;
$yellow2: #ffffb8;
$yellow3: #fffb8f;
$yellow4: #fff566;
$yellow5: #ffec3d;
$yellow6: #fadb14;
$yellow7: #d4b106;
$yellow8: #ad8b00;
$yellow9: #876800;
$yellow10: #614700;
$lime1: #fcffe6;
$lime2: #f4ffb8;
$lime3: #eaff8f;
$lime4: #d3f261;
$lime5: #bae637;
$lime6: #8bbb11;
$lime7: #7cb305;
$lime8: #5b8c00;
$lime9: #3f6600;
$lime10: #254000;
$green1: #f6ffed;
$green2: #1d3712;
$green3: #b7eb8f;
$green4: #95de64;
$green5: #73d13d;
$green6: #52c41a;
$green7: #389e0d;
$green8: #237804;
$green9: #135200;
$green10: #d5f2bb;
$cyan1: #e6fffb;
$cyan2: #b5f5ec;
$cyan3: #87e8de;
$cyan4: #5cdbd3;
$cyan5: #36cfc9;
$cyan6: #13a8a8;
$cyan7: #08979c;
$cyan8: #006d75;
$cyan9: #00474f;
$cyan10: #002329;
$blue1: #e6f4ff;
$blue2: #bae0ff;
$blue3: #91caff;
$blue4: #69b1ff;
$blue5: #4096ff;
$blue6: #1677ff;
$blue7: #0958d9;
$blue8: #003eb3;
$blue9: #002c8c;
$blue10: #001d66;
$geekBlue1: #f0f5ff;
$geekBlue2: #d6e4ff;
$geekBlue3: #adc6ff;
$geekBlue4: #85a5ff;
$geekBlue5: #597ef7;
$geekBlue6: #2f54eb;
$geekBlue7: #1d39c4;
$geekBlue8: #10239e;
$geekBlue9: #061178;
$geekBlue10: #030852;
$purple1: #f9f0ff;
$purple2: #efdbff;
$purple3: #d3adf7;
$purple4: #b37feb;
$purple5: #9254de;
$purple6: #722ed1;
$purple7: #531dab;
$purple8: #391085;
$purple9: #22075e;
$purple10: #120338;
$magenta1: #fff0f6;
$magenta2: #ffd6e7;
$magenta3: #ffadd2;
$magenta4: #ff85c0;
$magenta5: #f759ab;
$magenta6: #eb2f96;
$magenta7: #c41d7f;
$magenta8: #9e1068;
$magenta9: #780650;
$magenta10: #520339;
$paddingExtraSmall: 4px;
$paddingSmall: 8px;
$padding: 16px;
$paddingLarge: 24px;
$paddingExtraLarge: 48px;
$paddingXXS: 4px;
$paddingXS: 4px;
$paddingSM: 8px;
$paddingMD: 16px;
$paddingLG: 24px;
$paddingXL: 48px;
$marginExtraSmall: 4px;
$marginSmall: 8px;
$margin: 16px;
$marginLarge: 24px;
$marginExtraLarge: 48px;
$marginXXS: 4px;
$marginXS: 4px;
$marginSM: 8px;
$marginMD: 16px;
$marginLG: 24px;
$marginXL: 48px;
$marginXXL: 48px;
$controlHeight: 32px;
$controlHeightExtraSmall: 16px;
$controlHeightSmall: 24px;
$controlHeightLarge: 40px;
$borderRadius: 8px;
$borderRadiusSmall: 4px;
$borderRadiusLarge: 12px;
$borderRadiusCircle: 200px;
$borderRadiusSM: 4px;
$borderRadiusXS: 4px;
$borderRadiusLG: 12px;
$evaluationLow: [object Object],[object Object],[object Object];
$evaluationMiddle: [object Object],[object Object],[object Object];
$evaluationHigh: [object Object],[object Object],[object Object];
$focusPrimary: [object Object];
$focusError: [object Object];
$focusWarning: [object Object];