@import "../../../themes/antd.tokens";

.rowItemCell {
  padding: #{$paddingSmall}px;

  &Wrapper {
    display: flex;
    gap: #{$marginSmall}px;
    font-size: $fontSizeBodyText-small;
    color: $colorText;
    font-family: $fontFamily;
  }
}
